.banner{
    width: 100%;
    height: 30%;
}




/* RESPONSIVE */
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .banner{
        width: 100%;
        height: 30%;
      }
}
/* Tablet: width >= 740px and width < 1024px  */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .banner{
    width: 100%;
    height: 30%;
  }
}
