.banner{
    width: 100%;
    height: 30%;
}
/* ELEMENT 1 */
.element1{
  margin-top: 3em;
  display: flex;
  flex-direction: row;
}
.element1_title{
  background-color: #AEB4B2;
  text-align: center;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 20em;
  height: 1.8em;
  padding-top: 20px;
  font-size: 2.5em;
}
.element1_item-img {
  width: 32em;
  height: 40em;
}
.element1_card{
  padding: 6em 1em 0 1em;
  width: 90%;
  height: max-content;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2em;
}
.element1_card:hover{
  padding: 6em 1em 0 1em;
  width: 90%;
  height: max-content;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: black;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateY(-15px);
  display: flex;
  justify-content: space-evenly;
}
.element1_moreinfotexts{
  text-align: center;
  color: white;
}
.element1_card_item1{
  margin-left: 4em;
  margin-top: 10em;
}
.element1_card_item2{
  margin-right: 4em;
}
.element1_para{
  width: 80%;
  font-size: 2em;
}
.element1_product{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
}
.element1_item-title{
  text-align: center;
  font-size: 1.3em;
}
.element1_moreinfobtn{
  margin-bottom: 0.5em;
  border-radius: 10px;
  font-size: 1.3em;
  width: 15em;
  height: 2.8em;
  color: black;
  display: block;
}
.element1_moreinfobtn a {
  width: 15em;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 1rem 3rem;
  margin-bottom: 1em;
  font-size: 25px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  border-radius: 20px;
  overflow: hidden;
  background: #4D9FE3 ; 
  color: #ffffff;
  text-decoration: none;
}

.element1_moreinfobtn a span{
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  
}

.element1_moreinfobtn a:hover span {
  color: white;
}

.element1_moreinfobtn a::before,
.element1_moreinfobtn a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.element1_moreinfobtn a::before {
  content: "";
  color:#000;
  background: #0D4C7F;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.element1_moreinfobtn a:hover::before {
  transform: translate3d(100%, 0, 0);
}

/* ELEMENT 2 */
.element2{
  justify-content: space-between;
  margin-top: 8em;
  display: flex;
  width: 100%;
}
.element2_line{
  width: 18.75em;
  height: 4px;
  background-color: #000;
  margin: 2em 2em;
}
.element2_box{
  margin-top: 5em;
  margin-right: 2em;
}
.element2_title{
  font-size: 3em;
  margin-left: 0.6em;
}
.element2_text{
  font-size: 2em;
  margin-top: 1em;
  margin-left: 1.1em;
}
.element2_para{
  margin-top: 1.5em;
  font-size: 1.76em;
  margin-left: 1.0em;
  margin-right: 0.2em;
}
.element2_img{
  width: 60em;
  height: 35em;
}
.element2_img_mobile{
  display: none;
  width: 0.1px;
  height: 0.1px;
}
.element2_moreinfobtn{
  width: 100%;
  margin-top: 2em;
  height: auto;
  align-items: center;
  text-align: center;
}
.element2_moreinfobtn a {
  width: 14em;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  margin-top: 0.3em;
  font-size: 20px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  border-radius: 20px;
  overflow: hidden;
  background: #4D9FE3 ; 
  color: #ffffff;
  text-decoration: none;
}

.element2_moreinfobtn a span{
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  
}

.element2_moreinfobtn a:hover span {
  color: white;
}

.element2_moreinfobtn a::before,
.element2_moreinfobtn a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.element2_moreinfobtn a::before {
  content: "";
  color:#000;
  background: #0D4C7F;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.element2_moreinfobtn a:hover::before {
  transform: translate3d(100%, 0, 0);
}
/* ELEMENT 3 */
.element3_title{
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.element3_box{
  width: 100%;
  height: max-content;
  background-color: #AEB4B2;
}
.element3_content{
  display: flex;
  justify-content: space-evenly;
}
.element3_content-child{
  margin-bottom: 1em;
  width: 30%;
}
.element3_para {
  text-align: center;
  font-size: 1.5em;
}
.element3_icon{
  font-size: 10em;
  text-align: center;
  margin-top: 0.2em;
}
.element3_moreinfobtn {
  margin-bottom: 0em;
  border-radius: 10px;
  font-size: 1.3em;
  width: 100%;
  height: 2.8em;
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.element3_moreinfobtn a {
  width: 28%;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 1rem 3rem;
  margin-bottom: 1em;
  font-size: 20px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  border-radius: 20px;
  overflow: hidden;
  background: #4D9FE3;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
} 

.element3_moreinfobtn a span{
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  
}

.element3_moreinfobtn a:hover span {
  color: white;
}

.element3_moreinfobtn a::before,
.element3_moreinfobtn a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.element3_moreinfobtn a::before {
  content: "";
  color:#000;
  background: #0D4C7F;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.element3_moreinfobtn a:hover::before {
  transform: translate3d(100%, 0, 0);
}


