/* Tablet */


/* iPad Mini ở chế độ dọc */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    /* CSS dành riêng cho iPad Mini ở chế độ dọc */
    
    .container_header {
        width: 100%;
        max-width: 820px;
        margin: 0 auto; 
    }
    /* Các quy tắc CSS khác phù hợp cho iPad Mini */
    .container_header{
        width: 100%;
        max-width: 820px;
        margin: 0 auto; 
    }
    
    .container_content_author{
        display: block;
    }
    .content_left {
        width: 50%;
        padding:0 30px;
    }
    
    .content_left_circle{
        transform: translate(-65%,-50%);
        left: 100%;

    }
    .content_left_img{
        
    }
    .container_content{
        padding: 0 24px;
        height: 1350px;
        margin-right: 0;
    }
    .certificate_content_left ul {
        padding: 0 30px;
    }
    .content_about_author{
        display: block;
        width: 750px;
    }
    .content_about_author p{
        margin-right: 30px;
    }
    .container_certificate{

    }
    .certificate_content{
        display: block;
        width: 750px;
    }
    .certificate_content_left {
        width: 100%;
    }
    .container_certificate_name {
        width: 80%;
    }
    .container_certificate_name ul{
        margin: 0 30px;
    }
    .certificate_content_right{
        display: flex;
        margin: 0 42px;
    }
    .banner{
        margin-top: 1350px;
    }
    .banner_author{
       
    }
    .bbst_footer{
        display: inline-block;
    }
    .bbst_name_content{
        width: 100%;
    }
    .content_footer{
        padding: 0 40px;
    }
    .button_bbst{
        width: 100%;
    }
    .button_bbst a{
        margin: 40px 0 0 0;
    }
}

/* iPad Mini ở chế độ ngang */


/* iPad Air ở chế độ dọc */
@media only screen and (min-width: 820px) and (max-width: 1180px) and (orientation: portrait) {
    /* CSS dành riêng cho iPad Air ở chế độ dọc */
    .container{
        overflow: hidden;
    }
    .container_header {
        width: 100%;
        max-width: 820px;
        margin: 0 auto; 
    }
    /* Các quy tắc CSS khác phù hợp cho iPad Mini */
    .container_header{
        width: auto;
        /* max-width: 820px; */
        margin: 0 auto; 
        overflow: hidden;
    }
    
    .container_content_author{
        display: block;
    }
    .content_left {
        width: 50%;
        padding:0 30px;
    }
    
    .content_left_circle{
        transform: translate(-68%,-50%);
        left: 100%;

    }
    .content_left_img{
        
    }
    .container_content{
        padding: 0 24px;
        height: 1350px;
        margin-right: 0;
    }
    .certificate_content_left ul {
        padding: 0 30px;
    }
    .content_about_author{
        display: block;
        width: 750px;
    }
    .content_about_author p{
        margin-right: 30px;
    }
    .container_certificate{

    }
    .certificate_content{
        display: block;
        width: 750px;
    }
    .certificate_content_left {
        width: 100%;
    }
    .container_certificate_name {
        width: 80%;
    }
    .container_certificate_name ul{
        margin: 0 30px;
    }
    .certificate_content_right{
        display: flex;
        margin: 0 42px;
    }
    .banner{
        margin-top: 1350px;
    }
    .banner_author{
       
    }
    .bbst_footer{
        display: inline-block;
    }
    .bbst_name_content{
        width: 100%;
    }
    .content_footer{
        padding: 0 40px;
    }
    .button_bbst{
        width: 100%;
    }
    .button_bbst a{
        margin: 40px 0 0 0;
    }
    /* Các quy tắc CSS khác phù hợp cho iPad Air */
}
/* iPad Air ở chế độ ngang */
/* CSS dành riêng cho iPad Air ở chế độ ngang */
@media only screen and (min-width: 769px) and (max-width: 1180px) and (orientation: landscape) {
    .container{
        overflow: hidden;
    }
    .container_header {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto; 
    }

    .container_content_author {
        display: block;
        /* Căn lề trái và phải 40px */
    }

    .content_left {
        width: 50%;
        padding: 0 40px; /* Căn lề trái và phải 40px */
    }

    .content_left_circle {
        transform: translate(-30%, -50%); /* Căn chỉnh element vào giữa */
        left: 50%;
        z-index: 1;
    }

    .content_left_img {
        /* Thêm các quy tắc CSS nếu cần */
        transform: translate(15%,0);
    }

    .container_content {
        padding: 0 40px; /* Căn lề trái và phải 40px */
        height: auto;
        margin: 0 auto;
    }

    .certificate_content_left ul {
        padding: 0 40px; /* Căn lề trái và phải 40px */
    }

    .content_about_author {
        display: block;
        width: 750px;
        margin: 0 auto; /* Căn chỉnh vào giữa */
    }

    .content_about_author p {
        margin-right: 40px; 
        width: 900px;/* Căn lề phải 40px */
    }

    

    .certificate_content {
        display: block;
        width: 750px;
         /* Căn chỉnh vào giữa */
    }

    .certificate_content_left {
        width: 100%;
        /* Căn lề trái và phải 40px */
    }

    .container_certificate_name {
        
        margin: 0 auto; /* Căn chỉnh vào giữa */
    }

    .container_certificate_name ul {
        margin: 0 40px; /* Căn lề trái và phải 40px */
    }
    .certificate_content_left li{
        width: 1000px;
    }

    .certificate_content_right {
        display: flex;
        margin: 0 auto; /* Căn lề trái và phải 40px */
    }

    .bbst_name_content p {
        
        /* Căn chỉnh vào giữa */
    }

    .banner {
        /* Thêm các quy tắc CSS nếu cần */
    }

    .banner_author {
        /* Thêm các quy tắc CSS nếu cần */
    }

    .bbst_footer {
        display: inline-block;
        margin: 0 auto; /* Căn chỉnh vào giữa */
    }

    .bbst_name_content {
        width: 100%;
        
    }
    .bbst_name_content p {
        font-size: 5vw!important;
    }

    .content_footer {
        padding: 0 40px; /* Căn lề trái và phải 40px */
    }

    .button_bbst {
        width: 100%;
        margin: 40px auto 0 auto; /* Căn chỉnh vào giữa */
    }

    .button_bbst a {
        margin: 40px 0 0 0;
        text-align: center; /* Căn chữ vào giữa */
    }
    
}
/* CSS dành riêng cho iPad Pro ở chế độ ngang */
/* CSS dành riêng cho iPad Pro ở chế độ ngang */
@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
    .container_header {
        width: 100% !important;
        max-width: 1366px !important;
        margin: 0 auto !important; 
    }

    .container_content_author {
        display: block !important;
        padding: 0 40px !important; /* Căn lề trái và phải 40px */
    }

    .content_left {
        width: 50% !important;
        padding: 0 40px !important; /* Căn lề trái và phải 40px */
    }

    .content_left_circle {
        transform: translate(-30%, -50%) !important; /* Căn chỉnh element vào giữa */
        left: 50% !important;
        z-index: 1 !important;
    }

    .content_left_img {
        transform: translate(15%, 0) !important;
    }

    .container_content {
        padding: 0 40px !important; /* Căn lề trái và phải 40px */
        height: auto !important;
        margin: 0 auto !important;
    }

    .certificate_content_left ul {
        padding: 0 40px !important; /* Căn lề trái và phải 40px */
    }

    .content_about_author {
        display: block !important;
        width: 750px !important;
        margin: 0 auto !important; /* Căn chỉnh vào giữa */
    }

    .content_about_author p {
        margin-right: 40px !important;
        width: 1000px !important; /* Điều chỉnh chiều rộng để phù hợp */
    }

    .certificate_content {
        display: block !important;
        width: 750px !important;
         /* Căn chỉnh vào giữa */
    }

    .certificate_content_left {
        width: 100% !important;
        padding: 0 40px !important; /* Căn lề trái và phải 40px */
    }

    .container_certificate_name {
       
        margin: 0 auto !important; /* Căn chỉnh vào giữa */
    }

    .container_certificate_name ul {
        margin: 0 40px !important; /* Căn lề trái và phải 40px */
    }

    .certificate_content_left li {
        width: 1000px !important; /* Điều chỉnh chiều rộng để phù hợp */
    }

    .certificate_content_right {
        display: flex !important;
        margin: 0 auto !important; /* Căn lề trái và phải 40px */
    }

    .bbst_name_content p {
        width: 950px !important;
        margin: 0 auto !important; /* Căn chỉnh vào giữa */
    }

    .banner {
        /* Thêm các quy tắc CSS nếu cần */
    }

    .banner_author {
        /* Thêm các quy tắc CSS nếu cần */
    }

    .bbst_footer {
        display: inline-block !important;
        margin: 0 auto !important; /* Căn chỉnh vào giữa */
    }

    .bbst_name_content {
        width: 100% !important;
    }

    .content_footer {
        padding: 0 40px !important; /* Căn lề trái và phải 40px */
    }

    .button_bbst {
        width: 100% !important;
        margin: 40px auto 0 auto !important; /* Căn chỉnh vào giữa */
    }

    .button_bbst a {
        margin: 40px 0 0 0 !important;
        text-align: center !important; /* Căn chữ vào giữa */
    }

}
/* Mobile */
@media (max-width: 768px) {
    
    .container_content {
        padding: 0 20px;
        height: auto;
    }

    .container_content_author {
        flex-direction: column;
    }

    .author_name h1 {
        font-size: 6vw;
        letter-spacing: 2px;
    }

    .content_left, .content_right {
        width: 100%;
        margin-top: 20px;
    }

    .content_left_circle {
        height: auto;
        width: 90%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 0 auto;
        z-index: 1;
    }
    .content_left_img{
        height: auto;
        width: 90%;
        position: absolute;
        left: 0;
        top: 0;
        margin: 10px;
    }

    .content_right h2 {
        font-size: 6vw;
        margin: 20px 0;
    }

    .content_about_author {
        width: 100%;
    }

    .content_about_author p {
        font-size: 6vw;
        padding: 0 30px 0 0;
    }
    .container_certificate_name h1{
        font-size: 7vw;
    }

    .certificate_content {
        flex-direction: column;
    }

    .container_certificate {
        margin-right: 0;
        margin-top: 50px;
    }

    .certificate_content_left, .certificate_content_right {
        width: 100%;
    }
    .certificate_content_left ul{
        padding: 0;
    }
    
    .certificate_content_left li {
        font-size: 6vw;
        padding: 0 30px 0 0;
        list-style: none;
    }
    .content_footer {
        padding: 0 20px;
    }
    .certificate_content_right_up, .certificate_content_right_down{
        padding: 0 30px 0 0;
    }
    .bbst_name h1{
        font-size: 6vw;
    }
    .bbst_name_content {
        width: 100%;
    }

    .button_bbst {
        width: 100%;
        
    }

    .button_bbst a {
        margin: 20px 0;
        width: 60%;
        text-align: center;
        
    }
    .bbst_footer{
        display: inline-block;
    }
    .bbst_name_content p{
        font-size: 6vw;
    }
}




