/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 1025px) {
    .frame {
        width: 97%;
    }

    .frame h2{
        font-size: 5em;
    }

    .frame p {
        width: 24em;
    }

    .frame_icon {
        padding: 2em;
        width: 10em;
        background-color: #dbe8f7;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8em;
        margin-left: -9.5em;
        
    }
    .icon {
        width: 20em;
        padding: 3em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .icon > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
    .icon img {
        width: 7em;
        height: auto;
        max-width: 50em;
        object-fit: contain;
        margin-bottom: 1em; /* Khoảng cách giữa hình ảnh và chữ */
        margin-top: 2em;
        margin-left: 1em;
    }

    .icon .text {
        justify-content: center;
        text-align: center;
        margin: 1.1em; /* Loại bỏ margin mặc định của p */
        font-size: 1em;
        width: auto;
    }
    
    /* Tùy chọn: Thêm khoảng cách giữa các cột nếu cần */
    .icon > div:not(:last-child) {
        margin-right: 10em; /* Khoảng cách giữa các cột */
    }

    .right {
        left: 40%;
    }
    
    .frame_study {
        padding: 0.11em;
        width: 99.5%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50em;
    }

    .study {
        margin-left: 1.5em;
    }

    .text_study {
        font-size: 3em
    }
    
    .study_line {
        margin-left: 0.2em;
        margin-top: -1em;
    }

    .step {
        margin-left: 1em;
    }

    .step-1 {
        width: 30%;
        margin: 0 10px;
        position: relative;
        margin-left: -35em;
        margin-top: -12em;
        font-size: small;
    }
    
    .writting_1 {
        width: 10em; 
        height: 120px; 
        left: 95px; 
        top: 300px; 
        word-wrap: break-word;
        font-size: 2vw;
        text-align: center;
        max-width: 40em;
    }
    
    .title_1 {
        width: 301px; 
        height: 61px; 
        left: 20px; 
        top: 269px;  
        font-size: 38px; 
        font-size: 2.5vw;
    }
    
    .group_1 {
        width: 196px; 
        height: 242px; 
        left: 110px; 
        top: 70px; 
        display: flex;
    }
    
    .location_1 {
        width: 120px; 
        height: 242px;  
        left: 0px; 
        top: 0px; 
    }
    
    .number_1 {
        width: 20px; 
        height: 68px;  
        left: 53px; 
        top: 93px; 
        font-size: 23px; 
        font-family: Lexend; 
        font-weight: 700; 
    }
    
    .step-2 {
        width: 30%;
        margin: 0 -60em;
        position: relative;
        margin-top: -20em;
        margin-left: -55.7em;
    }
    
    .group_2 {
        width: 50px; 
        height: 120px; 
        left: 120px; 
        margin-left: -40px; 
    }
    
    .location_2 {
        width: 120px; 
        height: 242px; 
        left: 0px; 
        top: 0px; 
        position: absolute; 
    }
    
    .number_2 {
        width: 20px; 
        height: 68px; 
        left: 53px; 
        top: 94px; 
        font-size: 23px; 
        font-family: Lexend; 
        font-weight: 700; 
    }
    
    .title_2 {
        width: 371px; 
        height: 61px; 
        left: -35px; 
        top: 200px; 
        position: absolute; 
        text-align: center; 
        font-weight: 700; 
        font-size: 2.5vw;
    }

    .writting_2 {
        width: 200px; 
        height: 222px; 
        left: 40px; 
        top: 230px; 
        position: absolute; 
        text-align: center; 
        font-size: 2vw;
        text-align: center;
    }

    .step-3 {
        width: 30%;
        margin: 0 -180px;
        position: relative;
        margin-left: 10em;
        margin-top: -21em;
    }
    
    .group_3 { 
        left: -1em; 
        top: 10.2em; 
    }
    
    .location_3 {
        width: 120px; 
        height: 242px;  
        left: 0px; 
        top: 0px; 
        position: absolute; 
    }
    .number_3 {
        width: 20px; 
        height: 68px;
        left: 53px; 
        top: 94px; 
        position: absolute; 
        text-align: center; 
        font-size: 23px; 
        font-family: Lexend; 
        font-weight: 700; 
    }
    
    .title_3 {
        width: 250px; 
        height: 61px; 
        left: -4em; 
        top: 360px; 
        position: absolute; 
        text-align: center; 
        font-size: 2.5vw;  
        font-weight: 700; 
    }
    
    .writting_3 {
        max-width: 30em;
        width: 16em; 
        height: 50px; 
        left: -5.5em; 
        top: 420px; 
        position: absolute; 
        text-align: center; 
        font-size: 2vw; 
    }
}

/* CSS dành riêng cho ipad ở chế độ dọc */
@media only screen and (min-width: 767px) and (max-width: 1025px) and (orientation: landscape) {
    .writting_1 {
        width: 10em; 
        height: 120px; 
        left: 78px; 
        top: 300px; 
        word-wrap: break-word;
        font-size: 2vw;
        text-align: center;
        max-width: 40em;
    }

    .title_3 {
        width: 250px;
        height: 61px;
        left: -3em;
        top: 360px;
        position: absolute;
        text-align: center;
        font-size: 2.5vw;
        font-weight: 700;
    }
}

/* CSS dành riêng cho ipad Pro ở chế độ dọc */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .frame {
        width: 97.5%;
    }

    .writting_1 {
        width: 10em; 
        height: 120px; 
        left: 78px; 
        top: 300px; 
        word-wrap: break-word;
        font-size: 2vw;
        text-align: center;
        max-width: 40em;
    }

    .title_3 {
        width: 250px;
        height: 61px;
        left: -3em;
        top: 360px;
        position: absolute;
        text-align: center;
        font-size: 2.5vw;
        font-weight: 700;
    }
}

/* CSS dành riêng cho ipad Pro ở chế độ ngang */
@media only screen and (max-width: 1366px) and (min-width: 1024px) and (orientation: landscape) {
    .frame {
        padding: 12.2px;
        width: 98.1%;
        background-color: #B7D3E9;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 55em;
    }
}

/* CSS dành cho ipad Air ở chế độ ngang */
@media only screen and (max-width: 1180px) and (min-width: 820px) and (orientation: landscape) {
    .frame {
        width: 97.9%;
    }

    .right .date {
        left: -160px;
    }

    .right::after {
        left: -51px;
    }

    .right {
        left: 44%;
    }

    .right .content {
        margin-left: 10px;
    }
    
    .frame_study {
        padding: 0.11em;
        width: 99.6%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70em;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .frame {
        padding: 0px;
        width: 99.9%;
        font-size: 1.5vw;
        height: 360px;
    } 
    
    .bbst_line {
        width:70px;
        height: 0px;
        border: 1px black solid;
    }

    .frame p {
        width: 28em;
        font-size: 3vw;
        display: flex;
        text-align: center;
    }

    .icon {
        width: 93.4%;
        padding: 0;
    }

    .icon img {
        width: 13em;
    }

    .container {
        padding: 20px 18px;
    }

    .content {
        font-size: 2.5vw;
    }
    
    .right .date {
        left: -140px;
    }
    
    .right::after {
        left: -32px;
    }

    .right {
        left: 40%;
    }

    .frame_study {
        width: 91.5%;
        height: 1260px;
        padding: 1em;
    }

    .study {
        margin-left: 0;
        margin-top: 20em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text_study {
        font-size: 2em;
        margin-top: 0.5em;
        margin-left: 0;
    }

    .study_line {
        width: 80%; /* Giảm chiều rộng của đường line */
        height: 2px;
        margin: -1em 0; /* Điều chỉnh khoảng cách trên và dưới */
    }

    .step {
        flex-direction: column;
        width: 100%;
        padding: 1em;
        gap: 10px;
        margin: 2em 0;
        position: relative;
    }

    .step-1 {
        margin: 0;
        width: 100%;
        top: 6em;
    }

    .step-2 {
        margin: 0;
        width: 100%;
        top: -3em;
    }
    .step-3 {
        margin: 0;
        width: 100%;
        top: 4em;
    }

    .group_1, .group_2 {
        width: 80%;
        margin: 0 auto;
        top: -21em;
        left: 0;
        position: relative;
    }

    .group_3 {
        width: 80%;
        margin: 0 auto;
        top: -21em;
        left: 0;
        position: relative;
    }

    .location_1, .location_2, .location_3 {
        width: 40%;
        margin: 0 auto;
        top: 0;
        left: 0;
        position: relative;
    }

    .number_1, .number_2, .number_3 {
        position: absolute;
        font-size: 6.5vw;
        left: 51%;
        transform: translateX(-50%);
        top: 38.60%;
        display: block;
    }

    .title_1 {
        font-size: 5vw;
        top: 3em;
        left: 1em;
        width: 90%;
    }

    .title_2 {
        font-size: 5vw;
        top: 5em;
        left: 1em;
        width: 90%;
    }

    .title_3 {
        font-size: 5vw;
        top: -7em;
        left: 2.7em;
        width: 70%;
    }

    .writting_1 {
        font-size: 3.5vw;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        top: 6em;
        position: relative;
    }

    .writting_2 {
        font-size: 3.5vw;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        top: 125px;
        position: relative;
    }

    .writting_3 {
        font-size: 3.5vw;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        top: -23em;
        position: relative;
    }
}

/* CSS dành riêng cho moblie màn hình ngang (Ip SE, 6/7/8 plus, Samsung S8+,*/
@media (max-width: 767px) and (orientation: landscape) {
    .frame {
        padding: 0px;
        width: 99.9%;
        font-size: 1.5vw;
        height: 590px;
    }

    .frame_study {
        width: 95%;
        height: auto;
        padding: 1em;
    }
    .step {
        flex-direction: column;
        width: 100%;
        padding: 1em;
        gap: 10px;
        margin: 2em 0;
        position: relative;
    }

    .step-1 {
        margin: 0;
        width: 100%;
        top: 5em;
    }

    .step-2 {
        margin: 0;
        width: 100%;
        top: 4em;
    }
    .step-3 {
        margin: 0;
        width: 100%;
        top: 20em;
    }

    .group_1, .group_2 {
        width: 80%;
        margin: 0 auto;
        top: -21em;
        left: 0;
        position: relative;
    }

    .group_3 {
        width: 80%;
        margin: 0 auto;
        top: -21em;
        left: 0;
        position: relative;
    }

    .location_1, .location_2, .location_3 {
        width: 30%;
        margin: 0 auto;
        top: 0;
        left: 0;
        position: relative;
    }

    .number_1 {
        position: absolute;
        font-size: 4vw;
        left: 50.5%;
        transform: translateX(-50%);
        top: 36%;
        display: block;
    }

    .number_2, .number_3 {
        position: absolute;
        font-size: 4vw;
        left: 50.4%;
        transform: translateX(-50%);
        top: 36%;
        display: block;
    }

    .title_1 {
        font-size: 4vw;
        top: 4em;
        left: 1em;
        width: 90%;
    }

    .title_2 {
        font-size: 4vw;
        top: 5em;
        left: 1em;
        width: 90%;
    }

    .title_3 {
        font-size: 4vw;
        top: -4em;
        left: 5em;
        width: 60%;
    }

    .writting_1 {
        font-size: 3.5vw;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        top: 6em;
        position: relative;
    }

    .writting_2 {
        font-size: 3.5vw;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        top: 8em;
        position: relative;
    }

    .writting_3 {
        font-size: 3.5vw;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        top: -12em;
        position: relative;
    }
}

