/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 1025px) {
    .frame {
        max-width: 100%;
    }

    .frame h2{
        font-size: 5em;
    }

    .frame p {
        width: 24em;
    }

    .frame_icon {
        padding: 2em;
        width: 10em;
        background-color: #dbe8f7;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8em;
        margin-left: -9.5em;
        
    }
    .icon {
        width: 20em;
        padding: 3em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .icon > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
    .icon img {
        width: 7em;
        height: auto;
        max-width: 50em;
        object-fit: contain;
        margin-bottom: 1em; /* Khoảng cách giữa hình ảnh và chữ */
        margin-top: 2em;
        margin-left: 1em;
    }

    .icon .text {
        justify-content: center;
        text-align: center;
        margin: 1.1em; /* Loại bỏ margin mặc định của p */
        font-size: 1em;
        width: auto;
    }
    
    /* Tùy chọn: Thêm khoảng cách giữa các cột nếu cần */
    .icon > div:not(:last-child) {
        margin-right: 10em; /* Khoảng cách giữa các cột */
    }

    .right {
        left: 43%;
    }
    
    .frame_study {
        padding: 0px;
        max-width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50em;
    }

    .text_study { 
        font-size: 6.5vw; 
    }

    .study_line {
        width: 170px;
        height: 3px;
        background-color: black;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .group_1, .group_2, .group_3 {
        margin-top: -5em;
    }
    .step-1, .step-2, .step-3 { 
        width: 45%; 
    }

    .location_1, .location_2, .location_3 { 
        width: 20px; 
        height: 90px; 
        font-size: 6em;
    }

    .number_1, .number_2, .number_3 { 
        font-size: 2.8vw; 
    }

    .title_1, .title_2, .title_3 { 
        font-size: 2.5vw; 
    }

    .writting_1, .writting_2, .writting_3 { 
        font-size: 2vw; 
    }
}


/* CSS ipad Pro ở chế độ dọc*/
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .right {
        left: 44%;
    }
}


/* Mobile */
@media (max-width: 767px) {
    .frame {
        padding: 0px;
        max-width: 100%;
        font-size: 1.5vw;
        height: 360px;
    } 
    
    .bbst_line {
        width:70px;
        height: 0px;
        border: 1px black solid;
    }

    .frame p {
        width: 28em;
        font-size: 3vw;
        display: flex;
        text-align: center;
    }

    .icon {
        width: 93.4%;
        padding: 0;
    }

    .icon img {
        width: 13em;
    }

    .container {
        padding: 20px 18px;
    }

    .content {
        font-size: 2.5vw;
    }
    
    .right .date {
        left: -140px;
    }
    
    .right::after {
        left: -32px;
    }

    .right {
        left: 40%;
    }

    .frame_study {
        margin: 0 auto;
        padding: 20px;
        max-width: 100%;
        height: 55em;
        background-color: #B7D3E9; /* Màu nền */
        text-align: center;
    }

    .text_study { 
        font-size: 2em; 
    }

    .study_line {
        width: 100px;
        height: 3px;
        background-color: black;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .step { 
        flex-direction: column; 
        margin-top: 6em;
    }

    .step-1, .step-2, .step-3 { 
        width: 100%; 
    }

    .location_1, .location_2, .location_3 { 
        width: 80px; 
        height: 80px; 
        font-size: 5em;
    }

    .number_1, .number_2, .number_3 { 
        font-size: 5vw; 
    }

    .title_1, .title_2, .title_3 { 
        font-size: 5.5vw; 
    }

    .writting_1, .writting_2, .writting_3 { 
        font-size: 4vw; 
    }
}

/* Mobile ở chế độ ngang */
@media (min-width: 568px) and (max-width: 767px) {
    .frame {
        padding: 0px;
        max-width: 100%;
        font-size: 1.5vw;
        height: 60em;
    } 
    
    .bbst_line {
        width:70px;
        height: 0px;
        border: 1px black solid;
    }

    .frame p {
        width: 28em;
        font-size: 3vw;
        display: flex;
        text-align: center;
    }

    .icon {
        width: 93.4%;
        padding: 0;
    }

    .icon img {
        width: 13em;
    }

    .container {
        padding: 20px 18px;
    }

    .content {
        font-size: 2.5vw;
    }
    
    .right .date {
        left: -140px;
    }
    
    .right::after {
        left: -32px;
    }

    .right {
        left: 40%;
    }

    .frame_study {
        margin: 0 auto;
        padding: 20px;
        max-width: 100%;
        height: 60em;
        background-color: #B7D3E9; /* Màu nền */
        text-align: center;
    }

    .text_study { 
        font-size: 5vw; 
    }

    .step {
        margin-top: 6em;
    }

    .step-1, .step-2, .step-3 { 
        width: 100%; 
    }

    .location_1, .location_2, .location_3 { 
        width: 80px; 
        height: 80px; 
        font-size: 6em; 
    }

    .number_1, .number_2, .number_3 { 
        font-size: 3.5vw; 
    }

    .title_1, .title_2, .title_3 { 
        font-size: 4vw; 
    }

    .writting_1, .writting_2, .writting_3 { 
        font-size: 3vw; 
    }
}
