/* mobile overlay */
.header_navmobile{
    width: 0.5em;
    height: 0.5em;
    display: none;  
}
.nav_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.nav_mobile{
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20em;
    max-width: 100%;
    background-color: #11324D;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.2s , opacity linear 0.2s;
}
.nav__mobile-close{
    font-size: 2em;
    color: #D1D7ED;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.header_fontsize-mobile {
    font-size: 1.2em;
}
.nav_mobile-element{
    margin-top: 2em;
}
.mobile_element-list{
    margin-top: 2em;
    margin-left: 1em;
    color: #D1D7ED;
}
.header_list-mobile{
    margin-left: 0.5em;
}
/* overlay + transform + animation*/
.nav_input:checked ~ .nav_overlay{
    display: block;
}
.nav_input:checked ~ .nav_mobile{
    transform: translateX(0%);
    opacity: 1;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* HEADER FOOTER RESPONSIVE */
/* 1em = 16px */
/* Mobile:width > 343px && width < 576px */
@media only screen and (min-width: 319px) and (max-width: 576px) {
    /* Header */
    .container_header{
        background-color: #11324D ;
    } 
    .container_header{
        width: 100%;
        height: 6.5em;
    }
    .header{ 
        display: none;
    }
    .header_navmobile{
        width: 2em;
        height: 2em;
        margin-top: 2em;
        margin-right: 2em;
        display: block;
    }
    .mobile_header_title {
        display: flex;
        justify-content: flex-start; 
        align-items: center; 
        color: white;
        width: 100%;
        height: 56px; 
        margin-top: 18px;
        padding-top: 0; 
        padding-bottom: 0; 
        font-size: 1.2em; 
        padding-left: 0.5em;
    }
    .mobile_header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /* Footer */
    .footer_listitem_logo{
        width: 10em;
        height: 3.5em;
    }
    .container_footer{
        width: 100%;
        height: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    .footer_left{
        width: 68%;
        margin: 0em 3.125em 0em 1.8em ;
    }
    .footer_para{
        width: 109%;
        font-size: 0.4em;
        text-align: center
    }
    .footer_right{
        width: 96%;
        margin: 2em 1em 1em 1em;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer_list{
        width: 15em;
        text-align: start;
        font-size: 0.6em;
    }
    .footer_listitem{
        text-align: start;
    }
    .footer_spit{
        display: none;
        width: 0em; 
        height: 0em; 
        margin: 0;
    }
    .logo_main_footer{
        align-items: center;
        width: 4em;
        height: 4em;
    }
    .copyright_text {
        padding-top: 1.7em;
        font-size: 0.7em;
        color: white;
        text-align: end;
        padding-right: 0.75em;
    }
    .lg_footer{
        margin-left: 43%;
    }
    .nav_mobile_footer{
        position:absolute;
        top: 92%;
        margin-left: 3.7em;
        text-align: center;
        font-size: 1em;
    }
    
}
/* Tablet: width > 667 and width < 1025px  */
@media only screen and (min-width: 666px) and (max-width: 1025px) {
    .logo_main_header {
        width: 3em;
        height: 3em;
        margin-top: 3px;
        margin-bottom: 1px;
    }
    .header{
        width: 100%;
        z-index: 999;
    }
    .header_fontsize{
        font-size: 15px;
    }
    .footer_listitem_logo{
        width: 9em;
        height: 3em;
    }
    .footer_list{
        width: 9em;
        text-align: start;
        font-size: 0.6em;
    }
    .footer_listitem{
        width: 10em;
        font-size: 1em;
    }
    .footer_left{
        width: 100%;
        margin: 0em 0em 0em 0em ;
    }
    .footer_right{
        width: 100%;
        margin: 3.125em 0.125em 3.125em 0em;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .container_footer{
        padding-bottom: 2px;
        width: 100%;
        height: 100%;
    }
    .footer_para{
        width: 100%;
        font-size: 0.5em;
        text-align: center;
    }
    .logo_main_footer{
        margin-bottom: 0.5em;
        width: 100%;
        height: 5em;
    }
    .lg_footer{
        width: 4em;
        height: 4em;
    }
    .footer_spit{
        display: none;
        width: 0.125em; 
        height: 7.5em; 
        margin: 0 20px;
        background-color: white;
    }
    .copyright_text{
        padding-top: 1.7em;
        font-size: 0.6em;
        color: white;
        text-align: end;
        padding-right: 0.75em;
    }
}
@media only screen and (min-width: 1179px) and (max-width: 1367px){
    .header_fontsize {
        font-size: 1em;
    }
    /* Img */
    .logo_main_header{
        width: 4em;
        height: 4em;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .footer_left{
        margin: 0px;
    }
    .footer_right{
        width: 50%;
        margin: 0em;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .lg_footer{
        margin-left: 38%;
    }
    .footer_para{
        font-size: 10px;
        text-align: center;
    }
    .footer_list{
        font-size: 1.2em;
        padding: 1em;
    }
    .container_footer {
        width: 100%;
        height: 19.5em;
    }
    .footer_spit{
        display: none;
    }
    .logo_main_footer{
        width: 5em;
        height: 5em;
    }
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 2em;
        justify-content: space-around;
    }
}
/* LabtopL */
@media only screen and (min-width: 1439px){ 
    .header_fontsize {
        font-size: 1.3em;
    }
    .container_footer {
        width: 100%;
        height: 24em;
    }
    .footer_left{
        width: 39em;
        margin: 1px;
    }
    .footer_right {
        width: 54%;
        margin: 3.125em;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .footer_list {
        font-size: 1.5em;
        padding: 1.25em;  
    }
    .footer_spit{
        display: none;
        width: 0.125em; 
        height: 12.5em; 
        margin: 0 10px;
        background-color: white;
    }
}
