/* RESPONSIVE */
/* Mobile: width < 740px */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .element1 {
        margin-top: 3em;
        display: flex;
        flex-direction: column;
    }

    .element1_title {
        background-color: #AEB4B2;
        text-align: center;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        width: 15em;
        height: 1.8em;
        padding-top: 20px;
        font-size: 1.5em;
    }

    .element1_para {
        text-align: center;
        width: 100%;
        font-size: 1em;
    }

    .element1_product {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding-bottom: 20px;
        margin-top: 3em;
    }

    .element1_card {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 16em;
        height: max-content;
        box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.3); 
        background-color: rgb(255, 255, 255);
        margin-left: 0.5em;
        position: relative;
    }

    .element1_item-img {
        width: 16em;
        height: 21em;
    }

    .element1_item-title {
        text-align: center;
        font-size: 0.7em;
    }

    .element1_moreinfobtn {
        border-radius: 10px;
        font-size: 1.3em;
        width: 100%;
        height: 3em;
        color: white;
        display: none;
    }

    .element1_card:hover .element1_moreinfobtn {
        display: block;
        width: 10em;
        background-color: #11324D;
        cursor: pointer;
        position: relative;
        bottom: 11em;
        left: 26%;
        transform: translateX(-50%);
    }

    .element1_card:hover {
        height: 25em;
        width: 16em;
        transform: translateY(-2%);
    }

    .element1_moreinfotexts {
        color: white;
        font-size: 0.8em;
    }

    /* ELEMENT 2 */
.element2{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  .element2_line{
    width: 10em;
    height: 4px;
    background-color: #000;
    margin-top: 1em;
    margin-left: 1.2em;
  }
  .element2_box{
    margin-top: 1.5em;
  }
  .element2_title{
    font-size: 1.8em;
    margin-left: 0.6em;
  }
  .element2_text{
    text-align: start;
    font-size: 1.3em;
    margin-top: 1em;
    margin-left: 0.7em;
  }
  .element2_para{
    text-align: start;
    margin-top: 1em;
    font-size: 1em;
    margin-left: 1em;
  }
  .element2_img{
    display: none;
  }
  .element2_img_mobile{
    display: block;
    width: 100%;
    height: 17em;
  }
  .element2_moreinfobtn{
    margin-top: 2em;
    margin-left: 2.1em;
    border-radius: 10px;
    font-size: 1.3em;
    width: 14em;
    height: 2em;
    color: white;
    background-color: #11324D;
  }
  .element2_moreinfobtn:hover{
    margin-top: 8em;
    margin-left: 5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    font-size: 1.3em;
    width: 30em;
    height: 3em;
    color: white;
    background-color: #124f96;
    border: #124f96;
    cursor: pointer;
  }
  /* ELEMENT 3 */
  .element3_title{
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .element3_box{
    width: 100%;
    height: max-content;
    background-color: #AEB4B2;
  }
  .element3_content{
    display: flex;
    justify-content: space-evenly;
  }
  .element3_content-child{
    width: 20%;
  }
  .element3_para {
    text-align: center;
    font-size: 1em;
  }
  .element3_icon{
    font-size: 3em;
    margin-right: 2em;
    margin-top: 0.5em;
  }
  .element3_moreinfobtn{
    margin-top: 1em;
    margin-left: 1.1em;
    margin-bottom: 2em;
    border-radius: 10px;
    font-size: 1.3em;
    width: 90%;
    height: 3em;
    color: white;
    background-color: #11324D;
  }
  .element3_moreinfobtn:hover{
    margin-top: 4em;
    margin-left: 31em;
    margin-bottom: 2em;
    border-radius: 10px;
    font-size: 1.3em;
    width: 30em;
    height: 3em;
    color: white;
    background-color: #124f96;
    border: #124f96;
    cursor: pointer;
  }
}
  
  /* Tablet: width >= 740px and width < 1024px  */
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .banner{
      width: 100%;
      height: 30%;
    }
  }